<div class="main p-sm" fxLayoutAlign="center center">
  <div class="register-box w-100 p-sm" fxLayout="column" fxLayoutAlign="center center">
    <div class="underline w-100 mb-sm">
      <h1 class="mt-sm mb-xs mlr-auto weight-300">Register Account</h1>
    </div>
    <form class="register-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label>Name:</mat-label>
        <input type="text" formControlName="name" class="form-control" matInput/>
        <mat-error>Name Required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label>Email:</mat-label>
        <input [errorStateMatcher]="matcher2" type="text" formControlName="email" class="form-control" matInput/>
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label>Password:</mat-label>
        <input type="password" formControlName="password" class="form-control" matInput/>
      </mat-form-field>
      <mat-form-field class="w-100 mb-xxs" appearance="fill">
        <mat-label>Confirm Password:</mat-label>
        <input [errorStateMatcher]="matcher" type="password" formControlName="confirmPassword" class="form-control" matInput/>
        <mat-error>Passwords must match</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mb-xs mt-xs w-100 submit-button" [disabled]="registerForm.pristine || registerForm.invalid">
        <div class="login-button" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <div class="placeholder mr-sm"></div>
          <h1 class="weight-300 mt-sm mb-sm">Register</h1>
          <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
          <div class="placeholder ml-sm" *ngIf="!loading"></div>
        </div>
      </button>
    </form>
    <button mat-button (click)="login()" class="mlr-auto mt-sm white subtitle weight-300">Have an account? Click Here</button>
  </div>
</div>
