<div class="main w-100 p-sm mlr-auto" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="flex-end">
    <div class="w-100">
      <div class="user-image p-sm" [ngStyle]="{'background-image': 'url(' + userPicture + ')'}" fxLayout="column" fxLayoutAlign="start start">
        <div class="dog-info pl-sm pr-sm">
          <h1 class="name">Name</h1>
          <p class="bread">Breed</p>
        </div>
      </div>
      <div class="liked-buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="button-container dislike" fxLayoutAlign="center center">
          <mat-icon class="icon">clear</mat-icon>
        </div>
        <div class="button-container like" fxLayoutAlign="center center">
          <mat-icon class="icon">favorite</mat-icon>
        </div>
      </div>
      <div class="description p-sm w-100">
        {{dogDescription}}
      </div>
    </div>
  </div>
  <div class="footer-placeholder w-100"></div>
</div>
