<div class="landing-outter p-sm pt-xl w-100">
  <h1 class="mt-xl mlr-auto" fxLayoutAlign="start start">
    Welcome To
    <span class="color1">Paw Pals</span>
  </h1>
  <div fxLayout="row">
    <h1
      style="background-color: #f1a15c; padding: 20px 47px; border-radius: 8px"
      fxFlex="20"
    >
      Connecting Paws to Phones in The Triangle
    </h1>
    <div fxFlex="60"></div>
    <h1 fxFlex="20">Register Account</h1>
  </div>
  <div fxLayoutAlign="center end">
    <button>Learn More</button>
    <h1>The Dog Owner Meeting App</h1>
    <h2
      style="background-color: #f1a15c; padding: 20px 47px; border-radius: 8px"
      fxFlex="20"
    >
      Paw Pals is a social media app, but for dogs. Our goal is to help dog
      owners find and connect with other dog owners in the area. Because dog
      owners often desire to find other dogs for their pet to socialize with,
      the PawPals app provides an easy way to do so.
    </h2>



    <img src="src/assets/pictures/racingpuppies.jpg">
    <img src="src/assets/pictures/playingpuppies.jpg">
    <img src="src/assets/pictures/waterdogs.jpg">



    <h2
      style="background-color: #f1a15c; padding: 20px 47px; border-radius: 8px"
      fxFlex="20"
    >
      Rather than hoping to meet other pet owners by chance on walks or at dog
      parks. PawPals streamlines the pet socialization process making it easier
      to meet and socialize with other dogs in todays quickly moving social
      environment
    </h2>
  </div>
</div>
