<div class="landing-outter p-sm pt-xl w-100">
  <h1 class="mlr-auto mt-xl" fxLayoutAlign="start start">
    Welcome To
    <span class="color1">Paw Pals</span>
  </h1>
  <div fxLayout="row">
    <h1
      style="background-color: #f1a15c; padding: 20px 47px; border-radius: 8px"
      fxFlex="20"
    >
      Connecting Paws to Phones in The Triangle
    </h1>
    <div fxFlex="60"></div>
    <h1 fxFlex="20">Register Account</h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <button
      style="background-color: #f1a15c; padding: 20px 47px; border-radius: 8px"
    >
      Learn More
    </button>
  </div>

  <div class="spacingTop" fxLayout="column" fxLayoutAlign="space-around center">
    <h1 style="color: black">The Dog Owner Meeting App</h1>
    <div fxFlex="20" style="padding: 20px">
      <h2
        style="
          background-color: #f1a15c;
          padding: 20px 47px;
          border-radius: 8px;
        "
      >
        Paw Pals is a social media app, but for dogs. Our goal is to help dog
        owners find and connect with other dog owners in the area. Because dog
        owners often desire to find other dogs for their pet to socialize with,
        the PawPals app provides an easy way to do so.
      </h2>
    </div>
    <div fxLayout="space-evenly" fxLayoutAlign="space-around center">
      <img fxFlex="30" src="../../../assets/pictures/racingpuppies.jpg" />
      <img fxFlex="30" src="../../../assets/pictures/playingpuppies.jpg" />
      <img fxFlex="30" src="../../../assets/pictures/waterdogs.jpg" />
    </div>
    <div fxFlex="20" style="padding: 20px">
      <h2
        style="
          background-color: #f1a15c;
          padding: 20px 47px;
          border-radius: 8px;
        "
      >
        Rather than hoping to meet other pet owners by chance on walks or at dog
        parks. PawPals streamlines the pet socialization process making it
        easier to meet and socialize with other dogs in todays quickly moving
        social environment
      </h2>
    </div>
  </div>
</div>
