@import '../../../vars.scss';

$button-font-size: 22px;

@import '../../../vars.scss';

.mobile-nav-menu {
  position: fixed;
  height: 100vh !important;
  background-color: #F2EFEA;
  z-index:3;
  .buttons {
    height: 300px;
  };
}

