@import '../../../vars.scss';

.main {
  min-height: 100vh;
  max-width: 600px;
}

.user-data {
  margin-top: -80px;
  color: black;
  background-color: rgba($color2, .95);
  border-radius: 10px;
  z-index: 99 !important;
  position: absolute;
}

.seperator {
  border-bottom: 2px solid $color1;
}

.user-image {
  max-width: 300px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 150px;
  overflow: hidden;
  background-position: center;
  z-index: -1 !important;
  img {
    z-index: -1 !important;
  }
}

.dog-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 75px;
  overflow: hidden;
  background-position: center;
}

.add-dog-button {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: $color1;
  color: white;
}

.icon {
  height: 72px;
  width: 72px;
  font-size: 74px !important;
}
