<div class="main w-100 p-sm mlr-auto" fxLayout="column" fxLayoutAlign="center center">
  <div class="user">
    <div class="user-image">
      <img src="../../../assets/pictures/chuck_norris.jpg" alt="Picture of {{ userInfo.name }}">
    </div>
    <div class="user-data pt-xs pb-xs pl-sm pr-sm ml-0 mr-auto">
      <h1 class="name mt-0">{{ userInfo.name }}</h1>
      <p class="location mb-0">{{ userInfo.location }}</p>
    </div>
  </div>
  <div class="w-100 seperator">
    <h1>Your Dogs</h1>
  </div>
  <div class="user-dogs w-100 mt-lg" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="dogs ml-sm mr-sm" *ngFor="let dog of userDogs" fxLayout="column" fxLayoutAlign="center center">
      <div class="dog-image">
        <img class="dog-image" src="{{ dog.picture }}" alt="Picture of {{ userInfo.name }}'s dog {{ dog.name }}'">
      </div>
      <p class="dog-name">{{ dog.name }}</p>
    </div>
    <div class="add-dog" fxLayout="column" fxLayoutAlign="center center">
      <div class="add-dog-button" fxLayoutAlign="center center">
        <mat-icon class="icon">add</mat-icon>
      </div>
      <p class="dog-name">Add Dog Profile</p>
    </div>
  </div>
  <div class="footer-placeholder w-100">

  </div>
</div>
