@import '../../../vars.scss';

.main {
  height: calc(100vh);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/pictures/pawpas_background.jpg');
  background-position : center bottom;
  background-size: cover;
	background-repeat: no-repeat;
}
