<div class="main p-sm fade-in-fast" fxLayoutAlign="center center">
  <div class="register-box p-sm" fxLayout="column" fxLayoutAlign="center center">
    <div class="underline w-100 mb-sm">
      <h1 class="mt-sm mb-xs mlr-auto weight-300 orange">Thank you for registering with PawPals!</h1>
    </div>
    <h2 class="mb-xs mlr-auto weight-300">Please check your email to verify your email.</h2>
    <h2 class="mlr-auto weight-300">Make sure to check your Junk or Spam mailbox if you do not see the verification email.</h2>
    <button mat-raised-button (click)="login()" color="primary" class="mb-xs submit-button">
      <div class="login-button" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="weight-300 mt-sm mb-sm white">Done? Login</h1>
      </div>
    </button>
    <button mat-button (click)="signInWithDifferentAccount()" class="mlr-auto mt-sm white subtitle weight-300">Sign in with different Account</button>
  </div>
</div>
