<router-outlet></router-outlet>
<div class="footer w-100 p-sm pt-xs pb-xs" fxLayoutAlign="center center">
  <div class="button-container w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="navigate('pawpals/profile')"><mat-icon class="icon">account_circle</mat-icon></button>
    <button mat-icon-button (click)="navigate('pawpals/swiping')"><mat-icon class="icon">check_box_outline_blank</mat-icon></button>
    <button mat-icon-button (click)="navigate('pawpals/liked')"><mat-icon class="icon">message</mat-icon></button>
  </div>
</div>
