@import '../../../vars.scss';

.exit-icon {
  margin-right: -25px;
  margin-top: -25px;
}

.placeholder {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}

.button-text {
  color: white;
}

.dog-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 75px;
  overflow: hidden;
  background-position: center;
}

.title {
  text-align: center;
  line-height: 1.4;
}

.match-button {
  color: white;
  font-size: 24px;
}
