/* Component shrinking pixel numbers */

$color1: #f1a15c;
$color2: #fcf1e3;
$white: white;

$footer-height: 50px;

$screen-shrink: 1000px;
$screen-large: 1280px;
$screen-medium: 960px;
$screen-small: 600px;
$screen-extra-small: 400px;
$component-max-width: 1000px;
$content-max-width: 1200px;
/* Spacing */
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

$border-width: 2px;

$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 2rem;

$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;

$pawpals-color1: (
    50 : #fdf4eb,
    100 : #fbe3ce,
    200 : #f8d0ae,
    300 : #f5bd8d,
    400 : #f3af74,
    500 : #f1a15c,
    600 : #ef9954,
    700 : #ed8f4a,
    800 : #eb8541,
    900 : #e77430,
    A100 : #ffffff,
    A200 : #fff9f6,
    A400 : #ffd8c3,
    A700 : #ffc8aa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

